@import './mixins/unset';
@import './mixins/invisible';
@import './colors.scss';

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$theme_fg_color: "@theme_fg_color";
$theme_bg_color: "@theme_bg_color";

$panel-background: #2d3539;

button.button-unset {
  @include unset;
}

.invisible {
  @include invisible;
}

window.Bar {
  font-family: "JetBrainsMono NFP";

  background: transparent;
  color: #{$theme_bg_color};
  font-weight: bold;

  .panel {
    background-color: $panel-background;
    padding: .2rem .5rem;

    min-height: 20px; // Just to have a more consistent looks
  }

  centerbox {
    @include unset;

    background: transparent;

    box.bar-widget {

      .rounded-right {
        border-bottom-right-radius: 8px;
      }

      .rounded-left {
        border-bottom-left-radius: 8px;
      }
    }
  }

  .hints {
    margin-left: -8px;
    margin-right: -8px;

    .hint {

      &:not(:last-child) {
        margin-right: -8px;
      }

      .battery {
        &.critical {
          color: $system-info-critical;
        }

        &.warning {
          color: $system-info-orange;
        }
      }

      .notifications {
        color: $light_gray;
      }
    }
  }

  .workspaces {
    .workspaces-box {
      margin: 0 .3rem;

      .workspace {
        font-size: 12px;
        margin: 0 .3rem;
      }
    }
  }
}

.home-window {
  $widget-small-width: 160px;
  $widget-medium-width: 300px;
  $gap: 8px;

  .panels-container {
    .panel {
      @include unset;
      border-radius: 8px;

      background-color: $panel-background;
      color: white;

      padding: 4px 8px;

    }

    .panel-row {
      >*:not(:last-child) {
        margin-right: $gap;
      }
    }

  }

  .clock {
    min-width: $widget-small-width;

    .time {
      margin-top: -6px; // We need some kind of fix for the font spacing issue
      font-size: 38px;
      font-weight: 800;
    }

    .day {
      font-size: 16px;
      font-weight: 400;
    }

    .date {
      font-size: 16px;
      font-weight: 400;
    }
  }

  // -- Weather Widget -- //
  .weather {
    min-width: $widget-small-width;

    .position {
      font-size: .9rem;

      .location-icon {
        margin-right: .5rem;
      }

      .city {
        font-size: 16px;
        font-weight: 400;
      }
    }

    .weather-icon {
      font-size: 4rem;
      margin-left: -1.1rem;
      margin-bottom: -0.8rem;
    }

    .temperature {
      font-size: 1.5rem;
      font-weight: bold
    }

    .last-refresh {
      font-size: .6rem;
      color: $light_gray;
      opacity: .7;
    }
  }
}
