# Vim Setup
let mapleader=" "

imap jj <Esc> 

# Options
set clipboard+=unnamed # Sync clipboard between OS and Webstorm

set relativenumber
set number

set ignorecase
set smartcase
set incsearch

set showcmd

set hls # Highlight search result
nnoremap <silent> <esc> :noh<cr><esc>
set scrolloff=5

## IdeaVim specific Setup
set idearefactormode=keep
set ideajoin

vnoremap p "0p
## Plugins
Plug 'tpope/vim-commentary'
set matchit
set easymotion

set highlightedyank
let g:highlightedyank_highlight_duration = "150"

set surround

set which-key
set timeoutlen=800

set argtextobj

## Mapping

# Create empty line above or below
nmap zj o<ESC>k
nmap zk O<ESC>j

# Multiple vim-multiple-cursors
set multicursor
map mc <A-n>
map mx <A-x>
map mp <A-p>

# Easymotion
map <leader>s <Plug>(easymotion-s)

# Custom utils
map gs :g/selector: /g<CR>4w

# Nerd Tree
set NERDTree
let g:NERDTreeMapActivateNode = 'l'
let g:NERDTreeMapJumpParent = 'h'

# Action remapping
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

" Keys from vim-gitgutter
nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [c <Action>(VcsShowPrevChangeMarker)
" Not from vim-gitgutter. ={motion} is for indenting. =c does nothing
nmap =c <Action>(VcsShowCurrentChangeMarker)

nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)

map <leader>r <Action>(MoveTabRight)
map <leader>l <Action>(NextSplitter)
map <leader>h <Action>(PrevSplitter)
map <leader>m <Action>(MoveEditorToOppositeTabGroup)
nmap gh <Action>(ShowErrorDescription)

map <leader>ff <Action>(GotoFile)
map <leader>fc <Action>(RecentChangedFiles)
map <leader>fr <Action>(RecentFiles)

map <leader><leader> <Action>(GotoAction)
map R <Action>(RenameElement)
map g, <Action>(JumpToLastChange)
map g. <Action>(JumpToNextChange)
map <leader>ss <Action>(SelectInProjectView)

# Incremental selection
map <leader>w <Action>(EditorSelectWord)
map <leader>W <Action>(EditorUnSelectWord)

# Git
map <leader>gc <Action>(CheckinProject)
map <leader>gr <Action>(Git.Rebase)
map <leader>gb <Action>(Git.Branches)
map <leader>gnb <Action>(Git.CreateNewBranch)
map <leader>gf <Action>(Git.Fetch)
map <leader>gp <Action>(Vcs.Push)
map <leader>gcpr <Action>(Github.Create.Pull.Request)

# run config
map <leader>rc <Action>(RunConfiguration)
map <leader>rr <Action>(Run)
map <leader>rs <Action>(Stop)

# move lines up and down
nmap <C-j> <Action>(MoveLineDown)
xmap <C-j> <Action>(MoveLineDown)
nmap <C-k> <Action>(MoveLineUp)
xmap <C-k> <Action>(MoveLineUp)
